@font-face {
    font-family: 'BMYeonsung'; /* 폰트 이름을 정의합니다 */
    src: url('../font.ttf') format('truetype'); /* 폰트 파일 경로를 지정합니다 */
}

/* ../css/main.css */
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    font-family: 'BMYeonsung', sans-serif;
}

button {
    background: none; /* 배경색 제거 */
    border: none; /* 테두리 제거 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
    font: inherit; /* 부모 요소의 폰트 상속 */
    color: inherit; /* 부모 요소의 글자색 상속 */
    cursor: pointer; /* 커서 스타일을 포인터로 설정 */
    outline: none; /* 포커스 시 아웃라인 제거 */
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 상속 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

a:visited {
    color: inherit; /* 방문한 링크 색상도 상속 */
}

a:hover, a:focus, a:active {
    text-decoration: none; /* 호버, 포커스, 클릭 시에도 밑줄 제거 */
    color: inherit; /* 호버, 포커스, 클릭 시에도 색상 상속 */
    outline: none; /* 포커스 시 아웃라인 제거 */
}

.container {
    display: grid;
    grid-template-rows: 10vh auto 10vh;
    width: 100vw;
}

.container > div{
    padding-top: 20px;
    padding-bottom: 20px;
}

#line{
    padding: 0;
}

.top{
    display: grid;
    grid-template-columns: 1.5fr 7fr 1.5fr;
    align-items: center; /*세로정렬*/
    background-color: white;
}

.header{
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.BMDG{
    padding: 0px 10px;
}

.BMDG:hover{
    background-color: rgba(0,0,0, 6%);
    border-radius: 6px;
}

.menu,.menulist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.menu {
    position: relative;
}

.header-name{
    text-align: center;
    font-size: 24px;
}

.header-name,.menu-item{
    padding: 15px 0px;
    border-radius: 6px;
}

.menu-item {
    position: relative;
    display: inline-block;
    text-align: center;
}

.submenu {
    display: none;
    position: absolute;
    padding: 5px 10px;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white; /* 하위 메뉴의 배경색 */
    border: 1px solid #ccc; /* 하위 메뉴 테두리 */
    z-index: 1000; /* 하위 메뉴가 다른 요소 위에 표시되도록 */
    border-radius: 6px;

}

.menu-item:hover{
    background-color: rgba(0,0,0, 6%);
}

.menu-item:hover .submenu {
    display: block;
}

.submenu div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.submenu div:last-child {
    border-bottom: none; /* 마지막 하위 메뉴 항목의 테두리 제거 */
}

.search{
    display: grid;
    grid-template-columns: 1.5fr 7fr 1.5fr;
    background-color:rgb(3, 136, 226);
    z-index: 0;
}

.search-inner > form{
    text-align: center;
}

.hidden{
    display: none;
}

/* 드롭다운 컨테이너 스타일 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* 드롭다운 버튼 스타일 */
.dropbtn {
    background-color: white;
    border: 2px solid rgba(0,0,0,10%);
    border-radius: 10px;
    min-width: 160px;
    padding: 16px;
    font-size: 16px;
    cursor: default;
}

/* 드롭다운 메뉴 스타일 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    min-width: 160px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    scrollbar-width: none;
    -ms-overflow-style: none;

    ::-webkit-scrollbar{
        display: none;
    }
}

/* 드롭다운 메뉴 아이템 스타일 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 드롭다운 메뉴 아이템 호버 스타일 */
.dropdown-content a:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,40%);
    background-color: rgba(0,0,0,4%);
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.content-inner > div{
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0, 10%);
}

.content-inner div{
    padding: 10px 40px;
}

